@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --azul-claro : #434992;
    --azul-escuro: #102438;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

header {
    font-family: 'Rubik', sans-serif;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header > div > figure {
    display: flex;
    align-items: center;
}

header > div img {
    width: 90px;
}

form.campo-pesquisa {
    display: none;
    width: 400px;
    border: 1px solid #dedbdb;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

form.campo-pesquisa input, form.campo-pesquisa button {
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

form.campo-pesquisa input {
    width: calc(100% - 45px);
}

form.campo-pesquisa button {
    background: transparent;
    color: #ccc;
    width: 40px;
    margin-left: 1px;
}

form.campo-pesquisa button > i {
    cursor: pointer;
    color: var(--azul-claro);
}

div > span#btnMenu {
    font-size: 40px;
    cursor: pointer;
}

nav#menu {
    background-color: var(--azul-claro);
    display: none;
    padding-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav#menu > ul {
    text-align: center;
    list-style-type: none;
}

nav#menu > ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: .25s;
}

nav#menu > ul li a:hover {
    background-color: #32376a;
}

nav#menu > form.campo-pesquisa {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.open {
    display: block;
}

/* Fim Header */

main {
    font-family: 'Inter', sans-serif;
}

article.categoria h1 {
    text-align: center;
    padding: 25px 0;
    font-size: 2em;
    color: var(--azul-escuro);
}

section.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

section#carnes {
    background-image: url(../assets/img/carnes.jpg);
    background-position: center center;
}

section.produtos {
    display: grid;
    grid-template-columns: 50% 50%;
}

section.produtos > figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
}

section.produtos > figure div.img {
    height: 150px;
    max-width: 300px;
    padding: 0 10px;
}

section.produtos > figure div img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

section.produtos > figure figcaption {
    text-align: justify;
    margin-top: 25px;
    padding: 0 15px;
}

section.produtos > figure p {
    font-size: 1.5em;
    padding: 20px 0;
}

section.produtos > figure button span {
    vertical-align: middle;
    padding-right: 10px;
}

section.produtos > figure button {
    padding: 5px 0;
    width: 90%;
    border: 1px solid var(--azul-escuro);
    border-radius: 10px;
    background-color: var(--azul-claro);
    color: white;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: .25s;
}

section.produtos > figure button:hover {
    background-color: #fff;
    color: var(--azul-escuro);
}

section#margarinas {
    background-image: url(../assets/img/margarinas.jpg);
}

@media screen and (min-width: 768px) {
    header > div {
        justify-content: space-around;
        padding: 0;
    }

    div > form.campo-pesquisa {
        display: block;
    }

    div > span#btnMenu {
        display: none;
    }

    nav#menu {
        display: block;
        padding: 0;
    }

    nav#menu > ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav#menu > form.campo-pesquisa {
        display: none;
    }
}